@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.1px;
  white-space: nowrap;
  color: transparent;
  clip-path: inset(100%);
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  width: 510px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.navigation-item {
  font-weight: 700;
}

.title {
  text-transform: uppercase;
}

.list {
  list-style: none;
}

.navigation-link, .navigation-link-current {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  background-image: url("../images/catalog-filter-blurred-background.jpg");
  background-size: 1200px 412px;
  background-repeat: no-repeat;
  color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-products {
  display: flex;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.submit-button,
.reset-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
}

.submit-button {
  background-color: #82b3d3;
}

.reset-button {
  background-color: transparent;
}

.search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  padding: 14px 131px 14px 20px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.container {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.more-details-button,
.added-to-fav-button,
.add-to-fav-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 26px 8px 26px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.more-details-button {
  background-color: #756157;
}

.add-to-fav-button {
  background-color: #82b3d3;
}

.added-to-fav-button {
  background-color: #7db54f;
}

.rating{
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px 8px 26px;
  color: #333333;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.first-pagination-item a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-item a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.want-here-button,
.hotel-search-button {
  text-decoration: none;
  background-color: #756157;
  color: white;
  border-radius: 4px;
  font-weight: 700;
}

.want-here-button {
  padding: 8px 34px 8px 34px;
}

.hotel-search-button {
  padding: 8px 50px 8px 50px;
}

.background-image-sedona {
  background-image: url("../images/index-page-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  align-items: center;
  text-align: center;
  width: 400px;
  height: 384px;
}

.advantages-item-with-photo {
  display: flex;
  width: 100%;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantages-item:nth-child(4n+1) {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3n+3),
.advantages-item:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  text-align: center;
}

.hotel-search-header {
  font-size: 30px;
  line-height: 36px;
}

.hotel-search-contents {
  font-size: 22px;
  line-height: 26px;
}

.subscription {
  background-image: url("../images/subscribe-blurred-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.subscription-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-form {
  text-align: center;
}

.field {
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 14px 345px 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  padding: 8px 50px 8px 50px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 40px;
  width: 1200px;
  margin: 0 auto;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-social-list {
  width: 150px;
  margin-right: 200px;
}

.htmlacademy-link {
  margin-left: auto;
  max-width: 200px;
}
