@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.title {
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  padding: 0;
  z-index: 1;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 70px;
  padding: 0;
  gap: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-left: 14px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 18px;
  bottom: -1px;
  left: 14px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-search-icon {
  right: -3px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  font-family: "PT Sans";
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: -1px;
  right: 5px;
  background-color: #7db54f;
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
}

.navigation-item {
  font-weight: 700;
}

.navigation-item-main-page {
  margin-left: 30px;
}

.main-container {
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.divider {
  position: absolute;
  top: 428px;
  fill: white;
}

.catalog-main-contents {
  display: flex;
  flex-direction: column;
  background-image: url("../images/catalog-filter-blurred-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 40px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  padding: 0;
  gap: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: white;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: white;
}

.breadcrumbs-link:focus-visible {
  color: white;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color:  rgba(255, 255, 255, 0.6);
}

.control .control-mark:focus {
  outline: 3px solid #83B3D3;
}

.control .control-mark:focus-visible {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  background-color:  rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 14px;
  height: 10px;
  left: 4px;
  top: 5px;
  background-image: url("../images/checkbox-tick-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 70px 68px;
  margin: 0;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
  margin: 0;
}

.price-filter {
  display: flex;
  flex-direction: row;
  padding-top: 32px;
}

.price-range {
  position: relative;
  top: 11px;
  right: 180px;
  width: 140px;
  display: flex;
  text-align: center;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  top: 44px;
  width: 287px;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255,255,255, 0.3);
  border: none;
}

.range-input {
  width: 102px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  margin: 0 1px;
  border: none;
  background-color: #f2f2f2;
}

.range-input:nth-child(1) {
  border-radius: 0 4px 4px 0;
}

.range-input:nth-child(2) {
  border-radius: 4px 0 0 4px;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  outline: 3px solid #83B3D3;
}

.range-input:focus-visible {
  outline: 3px solid #83B3D3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: white;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 157px;
  margin-top: 32px;
  padding: 0;
  gap: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-type-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 63px;
  width: 371px;
  height: 157px;
}

.filter-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin-left: 140px;
  gap: 32px;
  width: 288px;
}

.filter-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  margin-left: 70px;
  padding: 0;
  gap: 32px;
  width: 191px;
}

.sort-line-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin: 0;
}

.search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.submit-button,
.reset-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px 8px 50px;
}

.submit-button {
  background-color: #82b3d3;
}

.submit-button:hover {
  background-color: #68a2ca;
}

.submit-button:focus {
  background-color: #68a2ca;
}

.submit-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.submit-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  background-color: transparent;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.2);
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 18px;
  margin-left: 130px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: 93%;
  cursor: pointer;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.sortlist-container {
  padding: 0 70px;
}

.sortlist-view-switch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sortlist-toggle-current .toggle-stroke {
  stroke: black;
}

.toggle:hover .toggle-stroke {
  stroke: black;
}

.sortlist-toggle:focus {
  outline: none;
}

.sortlist-toggle:focus-visible {
  outline: none;
}

.sortlist-toggle:focus .toggle-stroke {
  stroke: #68a2ca;
}

.sortlist-toggle:focus-visible .toggle-stroke {
  stroke: #68a2ca;
}

.toggle:active .toggle-stroke {
  stroke: black;
}

.hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 17px 19px;
  gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card:nth-child(4) {
  padding-top: 22px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #000000;
}

.hotel-title-link {
  text-decoration: none;
}

.hotel-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #333333;
}

.hotel-details-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.more-details-button,
.added-to-fav-button,
.add-to-fav-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.more-details-button {
  padding: 8px 26px;
  background-color: #756157;
}

.more-details-button:hover {
  background-color: #615048;
}

.more-details-button:focus {
  background-color: #615048;
}

.more-details-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.more-details-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-fav-button {
  padding: 8px 20px;
  background-color: #82b3d3;
}

.add-to-fav-button:hover {
  background-color: #68a2ca;
}

.add-to-fav-button:focus {
  background-color: #68a2ca;
}

.add-to-fav-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.add-to-fav-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.added-to-fav-button {
  padding: 8px 18px;
  background-color: #7db54f;
}

.added-to-fav-button:hover {
  background-color: #6c9e42;
}

.added-to-fav-button:focus {
  background-color: #6c9e42;
}

.added-to-fav-button:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.added-to-fav-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating{
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: 8px 22px;
  color: #333333;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding: 42px 0 40px 0;
}

.pagination-item a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
}

.pagination-item a:hover {
  background-color: #68a2ca;
}

.pagination-item a:focus {
  background-color: #68a2ca;
}

.pagination-item a:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.first-pagination-item a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #000000;
}

.first-pagination-item a:focus {
  background-color: #f2f2f2;
}

.first-pagination-item a:focus-visible {
  background-color: #f2f2f2;
  outline: none;
}

.pagination-item-dots {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.want-here-button {
  text-decoration: none;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
}

.want-here-button:hover {
  background-color: #615048;
}

.want-here-button:focus {
  background-color: #615048;
}

.want-here-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.want-here-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.background-image-sedona {
  background-image: url("../images/index-page-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 90px;
}

.description-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  width: 652px;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 0;
  width: 652px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  width: 400px;
}

.advantages-item-with-photo {
  display: flex;
  width: 100%;
}

.avantages-cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
  padding: 103px 85px 121px 85px;
}

.avantages-cards-content-with-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 62px;
  padding: 0 87px 5px 83px;
}

.avantages-cards-content-w-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 85px 81px 85px;
}

.avantages-cards-content-with-photo .advantages-description {
  margin-bottom: 15px;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 175px;
  margin: 0;
  padding: 0;
}

.avantages-cards-content-with-photo .advantages-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 58px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.avantages-cards-content .advantages-title::before {
  position: absolute;
  right: 58px;
  bottom: -32px;
  left: 57px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(4n+1) {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-w-icons:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-w-icons:nth-child(odd) {
  background-color: #ffffff;
  color: #000000;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.hotel-search-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding-bottom: 20px;
}

.hotel-search-contents {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding-bottom: 54px;
}

.hotel-search-button {
  text-decoration: none;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  margin: 0;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  background-color: #615048;
}

.hotel-search-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-index {
  background-image: url("../images/subscribe-blurred-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 96px;
  margin: 0 362px;
  padding-bottom: 33px;
}

.subscription-catalog .subscription-description {
  padding-top: 116px;
}

.subscription-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.subscription-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 119px;
  width: 684px;
  height: 52px;
}

.subscription-form input  {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 14px 238px 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscription-form input:hover {
  background-color: #e6e6e6;
}

.subscription-form input:focus {
  outline: 3px solid #83b3d3;
}

.subscription-form input:focus-visible {
  outline: 3px solid #83b3d3;
}

.subscription-form input:active {
  outline: 2px solid #000000;
}

.newsletter-button {
  font-family: "PT Sans";
  text-transform: uppercase;
  border: none;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 81px;
  margin-right: 70px;
  padding-top: 29px;
  padding-bottom: 25px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  gap: 2px;
}

.social-icon {
  fill: #83b3d3;
  outline: none;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:focus-visible {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);;
}

.social-icon-vk {
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 0;
}

.social-icon-tg {
  padding: 11px 12px;
}

.social-icon-yt {
  padding-top: 17px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: flex;
  align-items: center;
}

.htmlacademy-link {
  outline: none;
}

.htmlacademy-link:hover {
  fill: #756157;
}

.htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:focus-visible {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal {
  position: relative;
  margin: auto;
  width: 577px;
  padding: 69px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-title {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 4px;
}

.hotel-booking-form {
  display: flex;
  flex-direction: column;
  margin-top: 73px;
  gap: 48px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #cfcfcf;
  opacity: 0.6;
}

.modal input[type="text"] {
  position: relative;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  width: 400px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.modal input[type="text"]:hover {
  background-color: #e6e6e6;
}

.modal input[type="text"]:focus {
  outline: 3px solid #83B3D3;
}

.modal input[type="text"]:focus-visible {
  outline: 3px solid #83B3D3;
}

.modal input[type="text"]:active {
  outline: 2px solid #000000;
}

::-webkit-calendar-picker-indicator {
  display: none;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.date-message {
  position: absolute;
  transform: translateX(157px) translateY(148px);
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.date-error-message {
  position: absolute;
  transform: translateX(157px) translateY(52px);
  color: #ff5757;
}

.arrival-and-departure-date {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.calendar-icon {
  position: absolute;
  top: 17px;
  right: 22px;
}

.calendar-icon path {
  fill: rgba(0, 0, 0, 0.3)
}

.people-amount-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.adult-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.children-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-number-input {
  display: flex;
}

.adult-quantity {
  padding-left: 47px;
}

.children-quantity {
  padding-left: 76px;
}

.number-of-people {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  background-color: #f2f2f2;
  border: none;
  width: 12px;
  padding: 14px 10px 14px 12px;
}

.custom-number-input button {
  border: none;
  background-color: #f2f2f2;
  width: 40px;
  height: 48px;
}

button[data-action="decrement"] {
  padding-top: 2px;
}

button[data-action="increment"] {
  padding-top: 4px;
}

.custom-number-input button:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.custom-number-input button:nth-child(3) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.people-amount {
  display: flex;
  align-items: center;
}

.find-booking-button {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 0;
  background-color: #83b3d3;
  border-radius: 10px;
}

.find-booking-button:hover {
  background-color: #68a2ca;
}

.find-booking-button:focus {
  background-color: #68a2ca;
}

.find-booking-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.find-booking-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.tooltip {
  position: absolute;
  margin-top: 1px;
  margin-left: 2px;
  transform: translateX(7px);
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  color: #242424;
  display: block;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 20px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  margin-bottom: 6px;
  transform: translateX(-116px) translateY(15px);
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  content:'';
}

.plus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.plus-button:hover .plus-icon {
  fill: #000000;
}

.plus-button:focus-visible {
  outline: none;
}

.plus-button:focus-visible .plus-icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  padding: 3px;
}

.plus-button:active .plus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.minus-button:hover .minus-icon {
  fill: #000000;
}

.minus-button:focus-visible {
  outline: none;
}

.minus-button:focus-visible .minus-icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  padding: 5px 3px;
}

.minus-button:active .minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  display: none; /* скрывает модальное окно и overlay */
}
