@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  color: #ffffff;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  padding: 0;
  z-index: 1;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 70px;
  padding: 0;
  gap: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 15px;
  bottom: 0;
  left: 15px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-item {
  font-weight: 700;
}

.navigation-item-main-page {
  margin-left: 30px;
}

.main-container {
  position: relative;
  flex-grow: 1;
  margin: 0 auto;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.divider {
  position: absolute;
  top: 428px;
  fill: white;
}

.catalog-main-contents {
  display: flex;
  flex-direction: column;
  background-image: url("../images/catalog-filter-blurred-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.catalog-header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 70px 40px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  padding: 0;
  gap: 10px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter {
  display: flex;
  justify-content: center;
  padding: 0 70px 70px;
  gap: 167px;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 157px;
  margin-top: 32px;
  padding: 0;
  gap: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-type-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 70px;
  width: 371px;
  height: 157px;
}

.filter-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 288px;
  height: 160px;
}

.filter-submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 32px;
  width: 191px;
  height: 104px;
}

.sort-line-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.search-results {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.price-popularity-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 190px;
  gap: 70px;
  width: 1060px;
}

.submit-button,
.reset-button {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 50px 8px 50px;
}

.submit-button {
  background-color: #82b3d3;
}

.submit-button:hover {
  background-color: #68a2ca;
}

.submit-button:focus {
  background-color: #68a2ca;
}

.submit-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.submit-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button {
  background-color: transparent;
}

.reset-button:hover {
  color: rgba(255, 255, 255, 0.3);
}

.reset-button:focus {
  outline: 3px solid #83b3d3;
}

.reset-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.2);
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #e5e5e5;
  padding: 14px 23px;
  border-radius: 4px;
}

.sortlist-container {
  padding: 0 70px;
}

.sortlist-view-switch {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle:hover .toggle-stroke {
  stroke: black;
}

.toggle:focus {
  outline: none;
}

.toggle:focus .toggle-stroke {
  stroke: #68a2ca;
}

.toggle:focus-visible .toggle-stroke {
  stroke: #68a2ca;
}

.toggle:active .toggle-stroke {
  stroke: black;
}

.hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: #000000;
}

.hotel-title-link {
  text-decoration: none;
}

.hotel-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #333333;
}

.hotel-details-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.more-details-button,
.added-to-fav-button,
.add-to-fav-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.more-details-button {
  padding: 8px 26px;
  background-color: #756157;
}

.more-details-button:hover {
  background-color: #615048;
}

.more-details-button:focus {
  background-color: #615048;
}

.more-details-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.more-details-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-to-fav-button {
  padding: 8px 20px;
  background-color: #82b3d3;
}

.add-to-fav-button:hover {
  background-color: #68a2ca;
}

.add-to-fav-button:focus {
  background-color: #68a2ca;
}

.add-to-fav-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.add-to-fav-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.added-to-fav-button {
  padding: 8px 18px;
  background-color: #7db54f;
}

.added-to-fav-button:hover {
  background-color: #6c9e42;
}

.added-to-fav-button:focus {
  background-color: #6c9e42;
}

.added-to-fav-button:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.added-to-fav-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating{
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #f2f2f2;
  padding: 8px 22px;
  color: #333333;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding: 40px 0;
}

.pagination-item a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82b3d3;
  border-radius: 4px;
  color: #ffffff;
}

.pagination-item a:hover {
  background-color: #68a2ca;
}

.pagination-item a:focus {
  background-color: #68a2ca;
}

.pagination-item a:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);
}

.first-pagination-item a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px;
  color: #000000;
}

.first-pagination-item a:focus {
  background-color: #f2f2f2;
}

.first-pagination-item a:focus-visible {
  background-color: #f2f2f2;
  outline: none;
}

.pagination-item-dots {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  margin-top: 4px;
}

.want-here-button {
  text-decoration: none;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
}

.want-here-button:hover {
  background-color: #615048;
}

.want-here-button:focus {
  background-color: #615048;
}

.want-here-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.want-here-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.background-image-sedona {
  background-image: url("../images/index-page-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 90px;
}

.description-sedona {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  width: 652px;
}

.description-reasons {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 0;
  width: 652px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  text-align: center;
  width: 400px;
}

.advantages-item-with-photo {
  display: flex;
  width: 100%;
}

.avantages-cards-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 103px 85px 121px 85px;
}

.avantages-cards-content-with-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 0 85px;
}

.avantages-cards-content-w-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 85px 81px 85px;
}

.advantages-title {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 175px;
  margin: 0;
  padding: 0;
}

.avantages-cards-content-with-photo .advantages-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 58px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.avantages-cards-content .advantages-title::before {
  position: absolute;
  right: 58px;
  bottom: -30px;
  left: 58px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  width: 230px;
  margin: 0;
  padding: 0;
}

.advantages-item:nth-child(4n+1) {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3n+3),
.advantages-item:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}

.hotel-search-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding-bottom: 20px;
}

.hotel-search-contents {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 592px;
  margin: 0;
  padding-bottom: 54px;
}

.hotel-search-button {
  text-decoration: none;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 12px 50px;
  margin: 0;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  background-color: #615048;
}

.hotel-search-button:focus-visible {
  background-color: #615048;
  outline: none;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-index {
  background-image: url("../images/subscribe-blurred-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscription-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
  padding: 94px 362px 38px 362px;
}

.subscription-header {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.subscription-info {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
}

.subscription-form {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 104px;
  width: 684px;
  height: 52px;
}

.field {
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 14px 238px 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.newsletter-button {
  font-family: "PT Sans";
  text-transform: uppercase;
  border: none;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  color: #ffffff;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
}

.newsletter-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 70px;
  padding: 40px 0;
  gap: 40px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: #83b3d3;
  outline: none;
}

.social-icon:hover {
  fill: #68a2ca;
}

.social-icon:focus {
  fill: #68a2ca;
}

.social-icon:focus-visible {
  fill: #68a2ca;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);;
}

.social-icon-vk {
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 0;
}

.social-icon-tg {
  padding: 11px 12px;
}

.social-icon-yt {
  padding-top: 12px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
}

.footer-contacts-address-phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  color: #000000;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: flex;
  align-items: center;
}

.htmlacademy-footer-logo {
  outline: none;
}

.htmlacademy-footer-logo:hover {
  fill: #756157;
}

.htmlacademy-footer-logo:focus {
  fill: #756157;
}

.htmlacademy-footer-logo:focus-visible {
  fill: #756157;
  outline: none;
}

.htmlacademy-footer-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}
